@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;900&family=Roboto&family=Syne+Mono&display=swap');

body{
  background: #9b59b6;
  background: radial-gradient(at center, #3498db, #9b59b6);
  font-family: 'Syne Mono', monospace;

}

.image-d-2{
  height: 15rem !important;
}

.anchor-button{
  border: 2px solid #fff;
}

.anchor-button-2{
  width: 50%;
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
}

.image-d{
  margin-left: 2rem;
  margin-top: -2rem;
  box-shadow: 0 11px 6px -6px #5982ce;
  border-radius: 10px;
  
}

.image-div{
  height: 16rem;
  width: 13rem;
  border-color: #fff;
  border-radius: 5px;
}

.play-now {background-image: linear-gradient(to right, #9b59b6 0%, #26a0da  51%, #9b59b6  100%)}
.play-now {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 .play-now:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.image-div-2{
  height: 22rem;
  width: 16rem;
  border-color: #fff;
  border-radius: 5px;
}

.banner-header{
  color: #fff;
  font-family: 'Syne Mono', monospace;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 50px;
  padding: 5rem;
}

.banner-para{
  color: #fff;
  font-family: 'Syne Mono', monospace;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 30px !important;
}

.banner-para-2{
  color: #fff;
  font-family: 'Syne Mono', monospace;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 20px !important;
  margin-top: 1.5rem;
}

.call-to-action{
  /* width: 50%; */
  background: transparent;
  border: 2px solid;
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
}